* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30000px;
    z-index: 2;
    font-size: 1.5rem;
}
body{
    background: #000000;
    color:white;
    background-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23510c70' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
/* Navegation Style */
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 95px;
}
/*Nav left*/
.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding: 20px;
}
.nav-main ul li a{
   padding: 10px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid white;
}
.nav-main ul.nav-menu{
    flex:1;
    margin-left: 2px;
}
/*ShowCase*/
.showcase{
    width: 100%;
    height: 555px;
    background: url(images/ShowCase.jpg) no-repeat center center/cover;
    padding-bottom:50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.showcase .text{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showcase h2{
    margin-bottom: 15px;
}
.showcase p{
    margin-inline: 40px;
}
.showcase .text:hover{
    font-size: 20px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: purple;
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.btn:hover{
    border: 1px solid white;
    background: rgb(86, 3, 93);
}
/*Cards*/
.cards{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 25px;
    margin-bottom: 25px;
}
.cards img:hover{
    border: 1px solid white;
    opacity: .7;
}
.cards img{
    width: 100%;
    height: 180px;
}
.cards h3{
    font-size: 20px;
    display: flex;
    justify-content:center;
    margin: 10px 0;
}
.cards p{
    margin-bottom: 10px;
}

.cards a{
    padding: 2px 0;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    justify-items: center;
    border-bottom: 1px solid rgba(46, 46, 46, 0);
}
.cards a:hover{
    border-bottom: 1px solid white;
}
/*banner*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(images/banner.jpg);
    margin-bottom: 40px;
}
.cards-banner-one p{
    margin-bottom: 10px;
}
.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
}
/*social*/
.social{
    margin:50px;
}
.social p{
    text-align: center;
    font-size:30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin:0 30px;

}
.links a i{
    font-size: 2rem;
}
/*footer*/
.footer-links{
    background: rgb(46, 46, 46);
    color:#000000;
    font-size: 15px;
    padding: 35px 0;   
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
    line-height: 2.2;
}
.footer{
    text-align: center;
    background-color: #494949;
    color: grey;
    font-size: 18px;
    padding: 10px 0;
    font-weight: lighter;
}
@media (max-width: 750px){
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left:0;
        background: #494949;
        height: 100%;
        padding: 30px;
        transform: translateX(-400px);
        opacity: .9;
    }
    .nav-main ul.nav-menu-right{
        margin-right: 30px;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
        transition: transform .5s ease-in-out;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content{
        width: 80%;
        padding: 90px 0 0 30px;
    }
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
    .menu-btn{
        right: 30px;
    }

}
@media (max-width: 500px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .cards img{
        height: 220px;
    }
    .cards-banner-one .content{
        width: 100%;
    }
}